@import "tailwindcss";

@theme {
  --color-rojo-aesi: #CD2027;
  --color-amarillo-aesi: #F6D70E;
  --color-amarillo-claro-aesi: #FBF1B2;
  --color-azul-aesi: #2164B0;
  --color-azul-claro-aesi: #8AAFD9;
  --color-verde-aesi: #55B948;
} 